// ./dart-sass/sass --watch public/sass:public/css

/*~ ---------------------------------- */
/*~ Root                               */
/*~ ---------------------------------- */

:root {

    /* --header-height: 3.5rem; */

    /*? Font ------------------------- */
    /* .5rem = 8px / 1rem = 16px  / 1.5rem = 24px*/
    /* --body-font: "Poppins", sans-serif;
    --second-font: "Lora", serif; */

    --big-font-size: 2.25rem;
    --interm-font-size: 2rem;
    --medium-font-size: 1.3rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --tiny-font-size: .74rem;

    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /*? Color ------------------------- */

    /* --first-color: hsl(195, 100%, 30%); */
    
    --black-color :#251f2c;
    --main-color: #431377;
    --light-color: #EBEBF5;
    --highlight--01 : #FE8F8F;
    /* --highlight--02 : #FF7EA5; */
    --highlight--02 : #ff7e7e;
    
    
    --highlight--03 : #20DEFF;

    --highlight--04 : #FE8F8F;

    --highlight--05 : #B676D4;
    --gradient-color-02: linear-gradient(90deg,
                       #B676D4,
                       #FF7EA5);



    --gradient-color-01: linear-gradient(90deg,
                       #FE8FB5,
                       #FE8F8F);

    --gradient-color-03: linear-gradient(90deg,
                        #431377,
                        #33379E);

    --first-color:#5858ba;
    --gradient-color: linear-gradient(90deg,
                       hsl(210,62%,25%),
                       hsl(192, 62%, 25%));
    --title-color: hsl(210,52%,20%);
    --text-color: hsl(210,24%,15%);
    --white-color: #f0efef;
    --body-color: hsl(210, 55%,85%);

     /*? z index --------------------- */
    --z-tooltip: 10;
    --z-fixed: 100;
}


@media screen and (min-width: 1024px) {
    :root {
        --big-font-size: 4rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
    }
}


/*~ ---------------------------------- */
/*~ Reset                              */
/*~ ---------------------------------- */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

input,
button,
textarea,
select {
    font: inherit;
}

ul{
   list-style: none; 
}

a{
   text-decoration: none; 
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
@media (prefers-reduced-motion: reduce) {  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
}




/*~ ---------------------------------- */
/*~ BODY                               */
/*~ ---------------------------------- */

body{
    font-family: 'Red Hat Display', sans-serif;
    background-color: #f6f6fe;
    display: flex;
    /* height: 100%; */
    /* background-color: var(--main-color); */
}

#content-container {
    background-color: var(--main-color);
    width: 100%;
    min-height: 100vh;
    height: auto; /* Initial value for dynamic adjustment */
    /* height: 100vh; */
    padding: 1.7rem;
    margin-left: 17rem;
    
}

.container {
    width: 60%;
    /* height: 100%; */
    margin: auto;

    /* justify-content: space-between; */
    background-color: pink;
}

#sub-container {
    background-color: var(--light-color);
    height: 100%;
    border-radius: 3rem;
}

.main-content-page {
    /* background-color: red; */
    width: 80%;
    height: 100%;
    /* height: 500px; */
    margin: auto;
    translate: 1rem 3rem;
}

input:focus, textarea:focus, select:focus {
    outline: none;
}



/*~ ---------------------------------- */
/*~ HEADER & NAV                       */
/*~ ---------------------------------- */

nav {
    background-color: var(--main-color);
    width: 18rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem 3rem 0rem 3rem;
    column-gap: 3rem;
    position: fixed;

}

nav a {
    color: var(--white-color);
}

nav #nav-links{
    display: flex;
    column-gap: 2rem;
    flex-direction: column;
    row-gap: 6.5rem;
    margin-top: 3rem;
    padding-left: 5rem;
    font-size: var(--medium-font-size);
    
}

nav #nav-links p {
    display: flex;
    align-items: center;
    column-gap: 1.6rem;
}


nav #user-panel{
    display: flex;
    display: flex;
    column-gap: 1rem;
}


#nav-links .ri-team-line,
#nav-links .ri-git-repository-line,
#nav-links .ri-dashboard-line,
#nav-links .ri-calendar-line {
    color: var(--light-color);
    font-size: 1.8rem;  
    position: absolute;
    translate: -35px -4px;
    transition:  0.8s ease-out;
    
    
}

#nav-links .ri-team-fill,
#nav-links .ri-git-repository-fill,
#nav-links .ri-dashboard-fill,
#nav-links .ri-calendar-fill {
    color: var(--highlight--01);
    font-size: 1.8rem; 
    position: absolute;
    translate: -35px -4px;
    transition: 0.3s ease-in-out;
    
}

#team-link,
#repository-link,
#dashboard-link,
#calendar-link {
    color: var(--light-color);
    padding: 0.8rem;
    width: 13rem;
    border-top-left-radius: 0.6rem;
    border-bottom-left-radius: 0.6rem;
    background-color: transparent;
    position: absolute;
    transition: background-color 0.8s ease-out;
}

#team-link:hover,
#repository-link:hover,
#dashboard-link:hover,
#calendar-link:hover {
    background-color: var(--highlight--01);
    transition: background-color 0.3s ease-in-out;
}

.activemenu {
    background-color: var(--highlight--01) !important;
}

@media screen and (max-width: 767px) {
    nav {
        width: 5rem;
        z-index: 999;
    }

    #content-container {
        margin-left: 6rem;
    }



}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    
}

/*~ ---------------------------------- */
/*~ USER                               */
/*~ ---------------------------------- */

/*? Show ----------------------------- */

#avatar-profil {
    width: 150px;
    height: 150px;
}

#avatar-profil img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


/*? Register ----------------------------- */
#back-right-register{
    background-color: var(--highlight--03);
    width: 60px;
    height: 30px;
    position: absolute;
    right: 0;
    transform: rotate(-25deg);
    translate: -166px 39px;
    z-index: -1;
}

#inputs-form-student {
    margin-top: 2rem;
    // background-color: red;
    // display: grid;
    padding: 1.3rem;
    color: var(--main-color);
    
    
    input {
        border: none;
        background-color: transparent;
        border-bottom: 1px solid var(--highlight--05) ;
        
    }
    div:nth-child(1) {
        display: grid;
      
        grid-template-columns: 1fr 1fr;
        column-gap: 3.3rem;
        padding-bottom: 1.1rem;

        div:nth-child(1),
        div:nth-child(2) {
            display: flex;
            flex-direction: column;
            row-gap: 0.6rem;
        }
        div:nth-child(2) {
            // translate: 0px -1.5px;
        }
    }
    div:nth-child(2) {
        display: grid;
        // justify-content: end;
        grid-template-columns: 1fr 1fr;
        column-gap: 3.3rem;
        padding-bottom: 1.4rem;

        div:nth-child(1),
        div:nth-child(2) {
            display: flex;
            flex-direction: column;
            row-gap: 0.6rem;
        }
        div:nth-child(2) {
            // translate: 0px -1.5px;
        }
    }

    div:nth-child(3) {
        div:nth-child(1){
            row-gap: 0.6rem;
            padding-bottom: 1.5rem;
        }

    }

    #submit-btn-form{
        // background-color: green;
        display: flex;
        justify-content: center;
        border-radius: 0 0 0.8rem 0.8rem;
        overflow: hidden;
    
        
        button .btn {
            background: var(--gradient-color-02);
            border: none;
            color : white;
            padding: 0.5rem 1.5rem; 
            border-radius: 0.6rem;
            cursor: pointer;
            margin-bottom: 1.5rem;
            margin-top: 1rem;
            box-shadow: rgba(148, 36, 36, 0.24) 0px 3px 3px;
            transition: ease-in-out 0.15s;
        }
    
    }
    
    .btn-submit:hover {
        background: var(--gradient-color-01)!important;
        transform: scale(1.1);
        border-radius: 0.6rem;
    }

    #checkbox-terms div {
        // background-color: red;
        display: flex;
        input {
            cursor: pointer;
        }
    }
    

    .labelclicked {
        color:var(--highlight--05);
        font-weight: 700;
        transition: ease-in-out 0.1s;
    }
   
}

.inputChange {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid var(--highlight--03) !important;
}


/*~ ---------------------------------- */
/*~ landing Page                       */
/*~ ---------------------------------- */

main {
    background: var(--gradient-color-03);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    

    .content {
        background-color: var(--light-color);
        width: 60%;
        height: 70%;
        border-radius: 2.6rem;
        box-shadow: rgb(52 52 155 / 40%) 0px 0px 60px;
        overflow: hidden;
        display: flex;

        .left {
            background: var(--gradient-color-02);
            height: 100%;
            width: 65%;
            box-shadow: 10px 0px 0px 0px rgb(204 204 213);
        }

        .right {
            // background-color: red;
            width: 45%;
            height: 100%;

            .welcome {
                background: var(--gradient-color-03);
                width: 17rem;
                height: 3rem;
                margin-top: 1.5rem;
                border-top-right-radius: 1.5rem;
                border-bottom-right-radius: 1.5rem;
                color: white;
                display: flex;
                align-items: center;
                padding-left: 1.2rem;
                font-size: var(--medium-font-size) ;
                box-shadow: inset 10px 0em #1b0738;
            }


            .account {
                // background-color: red;
                width: 100%;
                padding: 0 4rem 0 7rem;
                margin-top: 6rem;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                p:nth-child(1) {
                    font-size: var(--medium-font-size) ;
                    margin-bottom: 2.1rem;
                    text-align: center;
                }
            }
        }
    }
}

/*~ ---------------------------------- */
/*~ PDF page                           */
/*~ ---------------------------------- */

#pdf-content {
    width: 770px;
    height: 950px;
    // background-color: red;
    border: 1px solid black;

    .header  {
        background:  var(--gradient-color-02);
        width: 100%;
        height: 5rem;
    }

    .student {
        // background-color: red;
        margin-left: 10rem;
        margin-top: 5rem;
    }
}